

.list-ctr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-list {
  width: 300px;
  margin: 30px 60px;
  text-align: center;
  border-radius: 2px;
}

.dropdown {
  width: 200px;
}

.Dropdown-menu {
  max-height: fit-content;
  border-radius: 5px;
}

.Dropdown-control {
  border-radius: 2px;
}

.search-ctr {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px 0 100px;
}

.search-input {
  height: 35px;
  width: 400px;
  font-size: 20px;
  background: url('../../assets/search-outline.svg')top left no-repeat;
  background-size: 35px 35px;
  padding-left: 50px;
  border-radius: 3px;

}

.title {
  text-align: center;
}
@media (max-width: 400px) {
  .search-input {
    align-self: center;
    max-width: 200px;
    padding: 0px 30px;
    margin: 0;
  }

  .search-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 20px 0;
  }

  .dropdown {
    margin: 15px;
  }

}