@import './base.scss';

* {
  margin: 0;
  padding: 0;
  font-family: $font;

}

.App {
  // position: absolute;
  height: 100vh ;
  width:100vw;
  display:table;
}

.dark {

  color: $dark-txt;
  background-color: $dark-bg;

  .country-ctr {
    background-color: $dark-ele;
  }

  .Dropdown-control {
    background-color: $dark-ele;
    color: $dark-txt;
  }

  .Dropdown-menu {
    background-color: $dark-ele;
  }

  .Dropdown-option {
    color: $dark-txt;
  }

  .Dropdown-control {
    transition: none;
  }

  a {
    text-decoration: none;
    color: $dark-txt
  }

  input {
    background-color: $dark-bg;
    color: $dark-txt;
  }

  button {
    background-color: $dark-ele;
    color: $dark-txt;
  }
}

.light {
  color: $light-txt;
  background-color: $light-bg;

  .country-ctr {
    background-color: $light-ele;
  }

  .Dropdown-control {
    transition: none;
  }

  a {
    text-decoration: none;
    color: $light-txt
  }
}

@media (max-width: 400px) {
  .App {
    height: 100%
  }
}