@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

$font:'Nunito Sans';
$dark-ele:hsl(209, 23%, 22%);
$dark-bg:hsl(207, 26%, 17%);
$dark-txt:hsl(0, 0%, 100%);
$light-ele:hsl(0, 0%, 100%);
$light-bg:hsl(0, 0%, 95%);
$light-txt:hsl(200, 15%, 8%);