.country-ctr{
  width: 300px;
  padding-bottom: 20px;
}
.country-flag{
  width: 300px;
  height:200px;
  object-fit: cover;

}
.country-card-name{
  font-size: 25px;
  font-weight: 900;
  margin:20px;
}
.country-card-info{
margin: 10px;
}
